 .container{
height: auto;

display: flex;
flex-direction: column;
justify-content: space-between;

margin-bottom:100px;
margin-top: 30px;
text-align: center;

}

 .input{
  padding: 18px;
  font-size: 20px;
  
 
  width: 500px;
  margin: auto;
  border-radius: 14px;
 
  
} 
.form{
  display: flex;
flex-direction: column;

}
.button{
  border-radius: 15px;
  border:none;
  background: #fE333c;
  color: aliceblue;
width: 220px;
margin-top: 50px;
margin-left: 560px;
padding: 12px;
font-size: 10px;
}

